<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Carthage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>842304471E2CCF5000D47E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>842304601E2CCF5100D47E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8423046B1E2CCF5100D47E29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
